<section class="container mt-5">
	Question : <br>
	<% @questions.each do |question| %>
		<%= question.content %><br>
	<% end %>
	<%= link_to "New",new_course_question_path(@course), class:'btn btn-success mt-5' %>
</section>

