<section class="container mt-5">
	<h1>Questions#index</h1>

	<% @questions.each do |question| %>
		<%= question.content %>
		<%= link_to "Edit",edit_question_path(question.id), class:'btn btn-success' %>
		<%= link_to "Delete",question_path(question.id), class:'btn btn-danger', method: :delete %> <br><br>
	<% end %>
</section>