<section class="container">
    <div class="d-flex justify-content-center mt-5">
        <%= link_to 'I am a teacher', new_teacher_registration_path, class:"btn btn-success mr-2" %>
        <%= link_to 'I am a student', new_student_registration_path, class:"btn btn-success ml-2" %>
    </div>
</section>