<h1>Courses#new</h1>

<% if current_teacher %>
	<%= form_for @course, action: courses_path, method: :post do |f| %>
			Title : 
			<%= f.text_field :title %>
			Description : 
			<%= f.text_field :description %>
			<%= f.submit %>
	<% end %>
<% else %>
<% end %>
		<%# button_to "delete", @course, :method => :delete %>