<% if current_student == nil %>
<container class="row">
  <section>
    <%= render partial: "teacher_steps" %>
  </section>
  <section>
    <%= render partial: "teacher_questions" %>
  </section>
</container>
<% end %>

<% if current_teacher == nil %>
<container class="row">
  <section>
    <%= render partial: "student_steps" %>
  </section>
  <section>
    <%= render partial: "student_questions" %>
  </section>
</container>
<% end %>

