<h1>Courses#show</h1>
<p>Find me in app/views/courses/show.html.erb</p>
<%= @course.title %> <br />
<%= @course.description %> <br />
<%= link_to "Edit",edit_course_path(@course.id), class:'btn btn-success' %>
<%= link_to "Delete",course_path(@course.id), class:'btn btn-danger', method: :delete %>