/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.bg-half {
	 
	  background-image: image-url('woman-computer.jpg');
		min-height: 900px;
    background-position: bottom;
    font-family: 'Nunito', sans-serif;
    background-size: 100%;
}

.bg-full {
  	background-image: image-url('people.jpg');
		min-height: 1000px;	
		background-position: top;
		font-weight: bold;
}

#home-title {
    font-size: 70px;
    color:#c34a2b;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.bg-text {
	background-color:#FFF;
	font-family: 'Nunito', sans-serif;
}

.steps {
    font-size: 30px;
    color:#FFF;
    font-family: 'Nunito', sans-serif;
}

.description {
	font-size:20px;
	font-family: 'Nunito', sans-serif;
}